html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  text-align: justify;
}

@media (min-width: 1020px) {
  body {
    width: 1020px;
  }
}

.header {
  height: 54px;
  background-color: #2d303a;
  padding-top: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  -webkit-box-shadow: inset 0px -6px 0px 0px #323746;
          box-shadow: inset 0px -6px 0px 0px #323746;
}

.header h1 {
  font-size: 25px;
  line-height: 6px;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  margin-left: 40px;
}

.header h1 span {
  color: #f06c64;
}

.header .navbar {
  width: 372px;
  margin-left: auto;
  margin-right: 4%;
  margin-top: -5px;
}

.header .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 372px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.header .navbar ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 6px;
  color: #c7c8ca;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  text-align: left;
}

.header .navbar ul a:hover {
  color: #f06c64;
}

.header .navbar .active a {
  color: #f06c64;
}

.slider {
  width: 100%;
  height: 600px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

@media (max-width: 950px) {
  .slider {
    height: 452px;
  }
}

@media (max-width: 550px) {
  .slider {
    height: 221px;
  }
}

.slider .item {
  display: none;
  position: relative;
  -webkit-animation: 0.5s ease-in-out;
          animation: 0.5s ease-in-out;
  margin: 0 auto;
}

.slider .item.active,
.slider .item.next {
  display: block;
}

.slider .slider__one.item.next {
  position: relative;
  top: 0px;
  width: 100%;
}

.slider .slider__two.item.next {
  position: relative;
  top: -600px;
  width: 100%;
}

.slider .slider__two.item.to-left {
  position: relative;
  top: -600px;
  width: 100%;
}

.slider .slider__two.item.to-right {
  position: relative;
  top: -600px;
  width: 100%;
}

.slider .item.to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.slider .item.from-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.slider .item.to-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.slider .item.from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@-webkit-keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}

.slider__left {
  position: absolute;
  top: 46%;
  left: 4%;
  z-index: 2;
}

@media (max-width: 980px) {
  .slider__left {
    left: 2%;
  }
}

.slider__left:hover {
  font-size: 60px;
  cursor: pointer;
  top: 45%;
}

.slider__left i {
  font-size: 45px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3);
}

.slider__left i:hover {
  font-size: 60px;
}

.slider__right {
  position: absolute;
  top: 46%;
  right: 4%;
  z-index: 2;
}

@media (max-width: 980px) {
  .slider__right {
    right: 2%;
  }
}

.slider__right:hover {
  font-size: 60px;
  cursor: pointer;
  top: 45%;
}

.slider__right i {
  font-size: 45px;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.3);
}

.slider__right i:hover {
  font-size: 60px;
}

.slider .slider__one {
  width: 100%;
  height: 600px;
  background-color: #f06c64;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: inset 0px -6px 0px 0px #ea676b;
          box-shadow: inset 0px -6px 0px 0px #ea676b;
}

@media (max-width: 950px) {
  .slider .slider__one {
    height: 452px;
  }
}

@media (max-width: 550px) {
  .slider .slider__one {
    height: 221px;
  }
}

.slider .slider__one .slider__iphone-vertical {
  width: 240px;
  height: 490px;
  position: absolute;
  top: 50px;
  left: 10.5%;
  cursor: pointer;
}

@media (max-width: 980px) {
  .slider .slider__one .slider__iphone-vertical {
    left: 7%;
  }
}

@media (max-width: 950px) {
  .slider .slider__one .slider__iphone-vertical {
    width: 180px;
    height: 363px;
    left: 17%;
  }
}

@media (max-width: 810px) {
  .slider .slider__one .slider__iphone-vertical {
    left: 10%;
  }
}

@media (max-width: 680px) {
  .slider .slider__one .slider__iphone-vertical {
    left: 14%;
    top: 102px;
    width: 134px;
    height: 270px;
  }
}

@media (max-width: 550px) {
  .slider .slider__one .slider__iphone-vertical {
    width: 88px;
    height: 178px;
    top: 33px;
  }
}

@media (max-width: 950px) {
  .slider .slider__one .slider__iphone-vertical img {
    width: 180px;
    height: 363px;
  }
}

@media (max-width: 680px) {
  .slider .slider__one .slider__iphone-vertical img {
    width: 134px;
    height: 270px;
  }
}

@media (max-width: 550px) {
  .slider .slider__one .slider__iphone-vertical img {
    width: 88px;
    height: 178px;
  }
}

.slider .slider__one .slider__iphone-horizontal {
  width: 490px;
  height: 240px;
  position: absolute;
  top: 169px;
  right: 11%;
  cursor: pointer;
}

@media (max-width: 980px) {
  .slider .slider__one .slider__iphone-horizontal {
    right: 14%;
  }
}

@media (max-width: 950px) {
  .slider .slider__one .slider__iphone-horizontal img {
    width: 363px;
    height: 180px;
  }
}

@media (max-width: 680px) {
  .slider .slider__one .slider__iphone-horizontal img {
    width: 270px;
    height: 134px;
  }
}

@media (max-width: 550px) {
  .slider .slider__one .slider__iphone-horizontal img {
    width: 178px;
    height: 88px;
  }
}

@media (max-width: 950px) {
  .slider .slider__one .slider__iphone-horizontal {
    width: 363px;
    height: 180px;
    right: 16%;
  }
}

@media (max-width: 810px) {
  .slider .slider__one .slider__iphone-horizontal {
    right: 8%;
  }
}

@media (max-width: 680px) {
  .slider .slider__one .slider__iphone-horizontal {
    right: 14%;
    width: 270px;
    height: 134px;
  }
}

@media (max-width: 550px) {
  .slider .slider__one .slider__iphone-horizontal {
    width: 178px;
    height: 88px;
    top: 89px;
  }
}

.slider .slider__one .iphone1 {
  position: absolute;
  z-index: 3;
  background-color: #2d303a;
  width: 189px;
  height: 335px;
  left: 126px;
  top: 118px;
  border-radius: 2px;
  cursor: pointer;
}

.slider .slider__one .iphone1.disabled {
  display: none;
}

.slider .slider__one .iphone2 {
  position: absolute;
  z-index: 3;
  background-color: #2d303a;
  width: 333px;
  height: 189px;
  right: 202px;
  top: 189px;
  border-radius: 2px;
  cursor: pointer;
}

.slider .slider__one .iphone2.disabled {
  display: none;
}

.slider .slider__two {
  width: 100%;
  height: 600px;
  background-color: #648BF0;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: inset 0px -6px 0px 0px #7397f3;
          box-shadow: inset 0px -6px 0px 0px #7397f3;
}

@media (max-width: 950px) {
  .slider .slider__two {
    height: 452px;
  }
}

@media (max-width: 550px) {
  .slider .slider__two {
    height: 221px;
  }
}

.slider .slider__two-img {
  position: relative;
  padding-top: 40px;
  text-align: center;
}

@media (max-width: 550px) {
  .slider .slider__two-img {
    padding-top: 5px;
  }
}

@media (max-width: 950px) {
  .slider .slider__two-img img {
    width: 445px;
  }
}

@media (max-width: 550px) {
  .slider .slider__two-img img {
    width: 250px;
  }
}

.slider .slider__two.item.next {
  top: -600px;
}

@media (max-width: 950px) {
  .slider .slider__two.item.next {
    top: -452px;
  }
}

@media (max-width: 550px) {
  .slider .slider__two.item.next {
    top: -215px;
  }
}

.our-srvices {
  width: 100%;
  height: 500px;
  background-color: #f2f2f2;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: inset 0px -6px 0px 0px white;
          box-shadow: inset 0px -6px 0px 0px white;
}

@media (max-width: 995px) {
  .our-srvices {
    height: 674px;
  }
}

@media (max-width: 669px) {
  .our-srvices {
    height: 1032px;
  }
}

.our-srvices h3 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: left;
  padding-top: 69px;
  padding-left: 42px;
}

.our-srvices .big {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: left;
  margin-top: 27px;
  margin-left: 39px;
  letter-spacing: -0.05px;
  text-align: justify;
  width: 92%;
}

.our-srvices__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-top: 47px;
  margin-right: auto;
  width: 92%;
}

.our-srvices__items h4 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  text-align: left;
}

.our-srvices__items p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  text-align: left;
  margin-left: 0px;
  margin-top: 9px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.our-srvices__items .our-srvices__pen {
  height: 85px;
  width: 300px;
  position: relative;
}

@media (max-width: 669px) {
  .our-srvices__items .our-srvices__pen {
    margin-top: 30px;
  }
}

.our-srvices__items .our-srvices__pen .pen__img {
  width: 56px;
  height: 58px;
  position: absolute;
  border: solid 1px #666d89;
  border-radius: 50%;
}

.our-srvices__items .our-srvices__pen .pen__img img {
  margin-top: 13px;
  margin-left: 10px;
}

.our-srvices__items .our-srvices__pen .pen__text {
  width: 220px;
  margin-left: 76px;
}

.our-srvices__items .our-srvices__bulb {
  height: 85px;
  width: 300px;
  position: relative;
}

@media (max-width: 669px) {
  .our-srvices__items .our-srvices__bulb {
    margin-top: 30px;
  }
}

.our-srvices__items .our-srvices__bulb .bulb__img {
  width: 58px;
  height: 58px;
  position: absolute;
  border: solid 1px #666d89;
  border-radius: 50%;
}

.our-srvices__items .our-srvices__bulb .bulb__img img {
  margin-top: 12px;
  margin-left: 13px;
}

.our-srvices__items .our-srvices__bulb .bulb__text {
  width: 220px;
  margin-left: 76px;
}

.our-srvices__items .our-srvices__heart {
  height: 85px;
  width: 300px;
  position: relative;
}

@media (max-width: 995px) {
  .our-srvices__items .our-srvices__heart {
    top: 38px;
  }
}

@media (max-width: 669px) {
  .our-srvices__items .our-srvices__heart {
    top: 30px;
  }
}

.our-srvices__items .our-srvices__heart .heart__img {
  width: 58px;
  height: 58px;
  position: absolute;
  border: solid 1px #666d89;
  border-radius: 50%;
}

.our-srvices__items .our-srvices__heart .heart__img img {
  margin-top: 13px;
  margin-left: 12px;
}

.our-srvices__items .our-srvices__heart .heart__text {
  width: 220px;
  margin-left: 82px;
}

.our-srvices__items .our-srvices__phone {
  height: 85px;
  width: 300px;
  position: relative;
  margin-top: 38px;
}

@media (max-width: 669px) {
  .our-srvices__items .our-srvices__phone {
    top: 50px;
    margin-top: 0;
  }
}

.our-srvices__items .our-srvices__phone .phone__img {
  width: 55px;
  height: 56px;
  position: absolute;
  border: solid 1px #666d89;
  border-radius: 50%;
}

.our-srvices__items .our-srvices__phone .phone__img img {
  margin-top: 10px;
  margin-left: 10px;
}

.our-srvices__items .our-srvices__phone .phone__text {
  width: 220px;
  margin-left: 76px;
}

.our-srvices__items .our-srvices__bubble {
  height: 85px;
  width: 300px;
  position: relative;
  margin-top: 38px;
}

@media (max-width: 669px) {
  .our-srvices__items .our-srvices__bubble {
    margin-top: 71px;
  }
}

.our-srvices__items .our-srvices__bubble .bubble__img {
  width: 58px;
  height: 58px;
  position: absolute;
  border: solid 1px #666d89;
  border-radius: 50%;
}

.our-srvices__items .our-srvices__bubble .bubble__img img {
  margin-top: 14px;
  margin-left: 10px;
}

.our-srvices__items .our-srvices__bubble .bubble__text {
  width: 220px;
  margin-left: 76px;
}

.our-srvices__items .our-srvices__star {
  height: 85px;
  width: 300px;
  position: relative;
  margin-top: 38px;
}

@media (max-width: 669px) {
  .our-srvices__items .our-srvices__star {
    margin-top: 25px;
  }
}

.our-srvices__items .our-srvices__star .star__img {
  width: 58px;
  height: 58px;
  position: absolute;
  border: solid 1px #666d89;
  border-radius: 50%;
}

.our-srvices__items .our-srvices__star .star__img img {
  margin-top: 13px;
  margin-left: 12px;
}

.our-srvices__items .our-srvices__star .star__text {
  width: 220px;
  margin-left: 82px;
}

.portfolio {
  width: 100%;
  height: 870px;
  background-color: #2d303a;
  -webkit-box-shadow: inset 0px -6px 0px 0px #323746;
          box-shadow: inset 0px -6px 0px 0px #323746;
}

@media (max-width: 960px) {
  .portfolio {
    height: 1102px;
  }
}

@media (max-width: 765px) {
  .portfolio {
    height: 844px;
  }
}

.portfolio h3 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  padding-left: 39px;
  padding-right: 39px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 69px;
}

@media (max-width: 760px) {
  .portfolio h3 {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.portfolio p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato";
  font-weight: 300;
  text-align: left;
  padding-left: 39px;
  padding-right: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 26px;
  letter-spacing: -0.2px;
}

@media (max-width: 760px) {
  .portfolio p {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.portfolio .images {
  padding-left: 39px;
  padding-right: 39px;
  height: 620px;
  top: 66px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (187px)[3];
  -ms-grid-columns: (220px)[4];
      grid-template: repeat(3, 187px)/repeat(4, 220px);
  grid-gap: 20px;
  text-align: center;
}

@media (max-width: 760px) {
  .portfolio .images {
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (max-width: 760px) {
  .portfolio .images img:nth-child(n+9) {
    display: none;
  }
}

@media (max-width: 960px) {
  .portfolio .images {
    -ms-grid-rows: (187px)[4];
    -ms-grid-columns: (220px)[3];
        grid-template: repeat(4, 187px)/repeat(3, 220px);
    width: 700px;
  }
}

@media (max-width: 760px) {
  .portfolio .images {
    -ms-grid-rows: (127px)[4];
    -ms-grid-columns: (151px)[2];
        grid-template: repeat(4, 127px)/repeat(2, 151px);
    width: 315px;
  }
}

.portfolio .images .portfolio__image {
  margin-top: 18px;
  position: relative;
  width: 220px;
  height: 187px;
  border: 0px solid #f06c64;
}

@media (max-width: 760px) {
  .portfolio .images .portfolio__image {
    width: 151px;
    height: 127px;
  }
}

.portfolio__button {
  padding-left: 39px;
  padding-right: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 13px;
}

@media (max-width: 760px) {
  .portfolio__button {
    padding-right: 30px;
    padding-left: 30px;
  }
}

.portfolio__button input {
  outline: none;
}

.portfolio__button .all {
  color: #c5c5c5;
  border-color: #c5c5c5;
  border: solid 1px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 12px;
  line-height: 17px;
  color: #dedede;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-right: 7px;
}

.portfolio__button .all:hover {
  cursor: pointer;
}

.portfolio__button .web {
  border-color: #666d89;
  border: solid 1px;
  border-radius: 5px;
  background-color: transparent;
  font-size: 12px;
  line-height: 17px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-right: 5px;
}

.portfolio__button .web:hover {
  cursor: pointer;
}

.portfolio__button .design {
  color: #666d89;
  border: solid 1px;
  border-color: #666d89;
  border-radius: 5px;
  background-color: transparent;
  font-size: 12px;
  line-height: 17px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  margin-right: 5px;
}

.portfolio__button .design:hover {
  cursor: pointer;
}

.portfolio__button .artwork {
  color: #666d89;
  border: solid 1px;
  border-color: #666d89;
  border-radius: 5px;
  background-color: transparent;
  font-size: 12px;
  line-height: 17px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
}

.portfolio__button .artwork:hover {
  cursor: pointer;
}

.about-us {
  width: 100%;
  height: 734px;
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0px -6px 0px 0px white;
          box-shadow: inset 0px -6px 0px 0px white;
}

.about-us h3 {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  padding-top: 68px;
  padding-left: 39px;
  padding-right: 39px;
}

.about-us p {
  font-size: 18px;
  line-height: 30px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  margin-top: 27px;
  letter-spacing: -0.1px;
  text-align: justify;
  padding-left: 39px;
  padding-right: 39px;
}

.about-us__human {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding-left: 39px;
  padding-right: 39px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 45px;
}

.about-us__human .human-one {
  width: 303px;
  height: 442px;
}

@media (max-width: 1000px) {
  .about-us__human .human-one {
    width: 219px;
    height: 360px;
  }
}

.about-us__human .human-one img {
  margin-bottom: 12px;
}

@media (max-width: 1000px) {
  .about-us__human .human-one img {
    width: 219px;
  }
}

.about-us__human .human-one span {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 300px;
}

@media (max-width: 1000px) {
  .about-us__human .human-one span {
    width: 219px;
  }
}

.about-us__human .human-one p {
  font-size: 12px;
  line-height: 22px;
  color: #767e9e;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  text-align: left;
  width: 307px;
  margin-top: 11px;
  letter-spacing: 0.05px;
  text-align: justify;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}

@media (max-width: 1000px) {
  .about-us__human .human-one p {
    width: 219px;
  }
}

.about-us__human .human-one .icons {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  border: 1px solid #656d89;
  margin-right: 6px;
  margin-top: 22px;
  text-align: center;
}

@media (max-width: 1000px) {
  .about-us__human .human-one .icons {
    margin-top: 10px;
  }
}

.about-us__human .human-one .icons:hover {
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.about-us__human .human-one .icons:hover i {
  color: #fd7d7d;
  margin-top: 12px;
}

.about-us__human .human-one .icons i {
  color: #656d89;
  margin-top: 8px;
}

.about-us__human .human-one__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.get-a-quote {
  width: 100%;
  height: 654px;
  background-color: #f06c64;
  color: #f0d8d9;
  -webkit-box-shadow: inset 0px -6px 0px 0px #ea676b;
          box-shadow: inset 0px -6px 0px 0px #ea676b;
}

.get-a-quote h2 {
  font-size: 30px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  width: 939px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 67px;
}

.get-a-quote p {
  font-size: 18px;
  line-height: 30px;
  color: #f0d8d9;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  text-align: left;
  width: 939px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 28px;
  text-align: justify;
  letter-spacing: -0.2px;
}

.get-a-quote h3 {
  font-size: 18px;
  line-height: 18px;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  padding-top: 44px;
}

.get-a-quote .registration-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 942px;
  margin-left: auto;
  margin-right: auto;
}

.get-a-quote .registration-contact p {
  font-size: 11px;
  line-height: 22px;
  color: #f0d8d9;
  font-family: "Lato";
  font-weight: 400;
  text-align: left;
  width: 300px;
  margin-top: -17px;
  text-align: justify;
  letter-spacing: 0.4px;
}

.get-a-quote .registration-contact a {
  color: #f0d8d9;
  text-decoration: none;
}

.get-a-quote .registration-contact .contact-info {
  width: 300px;
}

.get-a-quote .registration-contact .contact-info .map {
  margin-top: -7px;
}

.get-a-quote .registration-contact .contact-info .map i {
  margin-right: 10px;
}

.get-a-quote .registration-contact .contact-info .phone {
  margin-top: -29px;
}

.get-a-quote .registration-contact .contact-info .phone i {
  margin-right: 10px;
}

.get-a-quote .registration-contact .contact-info .mail {
  margin-top: -27px;
}

.get-a-quote .registration-contact .contact-info .mail i {
  margin-right: 10px;
}

.get-a-quote .registration-form {
  width: 618px;
}

.get-a-quote .registration-form input {
  outline: none;
}

.get-a-quote .registration-form .name {
  width: 618px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 43px;
}

.get-a-quote .registration-form .email {
  width: 618px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 17px;
}

.get-a-quote .registration-form .subject {
  width: 618px;
  height: 36px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 17px;
}

.get-a-quote .registration-form .describe {
  width: 618px;
  height: 197px;
  border-radius: 5px;
  border: none;
  background-color: #d6564f;
  margin-top: 17px;
}

.get-a-quote .registration-form .submit {
  margin-top: 20px;
  background-color: #f3dddc;
  border: none;
  color: #222222;
  width: 150px;
  height: 41px;
  font-size: 16px;
  border-radius: 5px;
}

.get-a-quote .registration-form .submit:hover {
  cursor: pointer;
  font-size: 20px;
}

input::-webkit-input-placeholder {
  color: #ec7e7e;
}

input:-ms-input-placeholder {
  color: #ec7e7e;
}

input::-ms-input-placeholder {
  color: #ec7e7e;
}

input::placeholder {
  color: #ec7e7e;
}

.invisible {
  height: 0;
  position: relative;
  top: -75px;
  visibility: hidden;
  width: 100%;
}

footer {
  height: 75px;
  background-color: #2d303a;
}

footer .copy {
  width: 200px;
  color: #666d89;
  margin-left: 43px;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  padding-top: 32px;
}

footer .icon {
  width: 32px;
  height: 32px;
  border: solid 1px #656d89;
  border-radius: 50%;
  margin-right: 6px;
  text-align: center;
}

footer .icon:hover {
  width: 40px;
  height: 40px;
}

footer .icon:hover i {
  color: #c46161;
  margin-top: 12px;
}

footer .icon i {
  color: #656d89;
  margin-top: 7px;
  text-align: center;
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 181px;
  margin-left: 829px;
  margin-top: -23px;
}
/*# sourceMappingURL=style.css.map */